Bushfire_TBeam/nodered.json

[
    {
        "id": "2f5827f3f231391e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "45cdf8f22c62f46d",
        "type": "mqtt in",
        "z": "2f5827f3f231391e",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "c630bf5d2cba4f4c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 260,
        "wires": [
            [
                "6a553f0d6aac8aa4",
                "72aad8013b0817f0"
            ]
        ]
    },
    {
        "id": "72aad8013b0817f0",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "full message received",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "6a553f0d6aac8aa4",
        "type": "function",
        "z": "2f5827f3f231391e",
        "name": "payload conversion",
        "func": "// Check if payload and uplink_message properties exist\nif (msg.payload && msg.payload.uplink_message && msg.payload.uplink_message.decoded_payload) {\n    // Extract decoded_payload from msg\n    var latitude = msg.payload.uplink_message.decoded_payload.latitude\n    var longitude = msg.payload.uplink_message.decoded_payload.longitude\n\n    var coords = longitude + ',' + latitude\n    var sats = msg.payload.uplink_message.decoded_payload.sats\n    var temp = msg.payload.uplink_message.decoded_payload.temp\n    var humd = msg.payload.uplink_message.decoded_payload.humd\n    var CO = msg.payload.uplink_message.decoded_payload.CO\n    var NO2 = msg.payload.uplink_message.decoded_payload.NO2\n    var dust = msg.payload.uplink_message.decoded_payload.dust\n\n    // Error checking\n    var coordError = \"Functional\";\n    var satsError = \"Functional\";\n    var tempError = \"Functional\";\n    var humdError = \"Functional\";\n    var COError = \"Functional\";\n    var NO2Error = \"Functional\";\n    var dustError = \"Functional\";\n\n    // Convert latitude and longitude to strings\n    latitude = latitude.toString();\n    longitude = longitude.toString();\n\n    if ((latitude.startsWith(\"0.\") || latitude.startsWith(\"-0.\")) && (longitude.startsWith(\"0.\") || longitude.startsWith(\"-0.\"))){\n        coordError = \"Error\";\n    }\n    if (sats < 3) {\n        satsError = \"Error\";   \n    }\n    if (temp > 2000 || temp < -100) {\n        tempError = \"Error\";\n    }\n    if (humd > 100 || humd < 0) {\n        humdError = \"Error\";\n    }\n    if (CO > 100 || CO < 0) {\n        COError = \"Error\";\n    }\n    if (NO2 > 100 || NO2 < 0) {\n        NO2Error = \"Error\";\n    }\n    if (dust > 2000 || dust < 0) {\n        dustError = \"Error\";\n    }\n\n    // For calculating the likelihood of occurrence\n    var percentTemp = 0;\n    var percentHumd = 0;\n\n    var percentOccurrence = 0; \n    var percentOngoing = 0;\n    var alarm = 0;\n\n    // Using predefined table in report, define temp and humd percentage responsible for overall likelihood of bushfire\n    if (humd < 25) { \n        percentHumd = 76\n    } else if (humd >= 25 && humd < 40) { \n        percentHumd = 64\n    } else if (humd >= 40 && humd < 60 ) {\n        percentHumd = 36\n    } else if (humd >= 60 && humd <= 80) { \n        percentHumd = 16\n    } else if (humd > 80) { \n        percentHumd = 4\n    }\n\n    if (temp > 50) {\n        percentTemp = 19\n    } else if (temp >= 40 && temp <= 50) {\n        percentTemp = 16\n    } else if (temp >= 30 && temp < 40) {\n        percentTemp = 9\n    } else if (temp >= 20 && temp < 30) {\n        percentTemp = 4\n    } else if (temp < 20) {\n        percentTemp = 1\n    }\n    \n    percentOccurrence = (percentTemp*0.2) + (percentHumd*0.8) // Weather threat\n\n    // Calculate dust, change in temp, CO, and NO2 into percentages for calculating likelihood of ongoing bushfire\n    var minCO = 0;\n    var maxCO = 30;\n    var percentCO = ((CO - minCO) / (maxCO - minCO)) * 100;\n    if (percentCO > 100) {\n        percentCO = 100\n    }\n\n\n    var minNO2 = 0;\n    var maxNO2 = 2;\n    var percentNO2 = ((NO2 - minNO2) / (maxNO2 - minNO2)) * 100;\n    if (percentNO2 > 100) {\n        percentNO2 = 100\n    }\n\n\n    var minDust = 0;\n    var maxDust = 400;\n    var percentDust = ((dust - minDust) / (maxDust - minDust)) * 100;\n    if (percentDust > 100) {\n        percentDust = 100\n    }\n\n    // Extract the hour from the timestamp 30m may be more appropriate for temp and humd, however, for demo minute is used.\n    var receivedAt = msg.payload.received_at;\n    var hour = new Date(receivedAt).getUTCHours();\n    \n    // Initialize variables to store previous hour and temperature\n    if (!flow.get('prevHour') === undefined) {\n        flow.set('prevHour', hour);\n        flow.set('prevTemp', temp);\n        flow.set('prevHumd', humd);\n    }\n\n    // Calculate the change in temperature\n    var changedTemp = temp - flow.get('prevTemp');\n    // Calculate the change in humidity\n    var changedHumd = humd - flow.get('prevHumd');\n\n    // Check if the hour has changed\n    if ( hour != flow.get('prevHour')) {\n        \n        // Update previous hour and temperature and humidity\n        flow.set('prevHour', hour);\n        flow.set('prevTemp', temp);\n        flow.set('prevHumd', humd);\n\n    }\n\n    var minChangedTemp = 0;\n    var maxChangedTemp = 10;\n    var percentChangedTemp = ((changedTemp - minChangedTemp) / (maxChangedTemp - minChangedTemp)) * 100;\n    if (percentChangedTemp > 100) {\n        percentChangedTemp = 100\n    }\n\n    var minChangedHumd = 0;\n    var maxChangedHumd = 10;\n    var percentChangedHumd = ((changedHumd - minChangedHumd) / (maxChangedHumd - minChangedHumd)) * 100;\n    if (percentChangedHumd > 100) {\n        percentChangedHumd = 100\n    }\n\n    percentOngoing = (percentChangedHumd * 0.15 + percentChangedTemp * 0.15 + percentCO * 0.70) \n    \n\n\n    // Define and send the revised payload sent to Blynk\n    var msg1 = { payload: sats }\n    var msg2 = { payload: temp }\n    var msg3 = { payload: humd }\n    var msg4 = { payload: CO }\n    var msg5 = { payload: NO2 }\n    var msg6 = { payload: alarm }\n    var msg7 = { payload: coords }\n    var msg8 = { payload: percentOccurrence  } //percentOccurrence\n    var msg9 = { payload: percentOngoing }\n    var msg10 = { payload: dust }\n    var msg11 = { payload: changedHumd }\n    var msg12 = { payload: changedTemp }\n\n    var msg13 = { payload: coordError }\n    var msg14 = { payload: satsError }\n    var msg15 = { payload: tempError }\n    var msg16 = { payload: humdError }\n    var msg17 = { payload: COError }\n    var msg18 = { payload: NO2Error }\n    var msg19 = { payload: dustError }\n\n    return [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10, msg11, msg12, msg13, msg14, msg15, msg16, msg17, msg18, msg19]; \n\n} else if (!msg.payload.uplink_message) {\n\n    // The live data sends a message without payload sometimes\n    return\n\n} else {\n\n    // If the decoded payload is not present, log a warning\n    node.warn(\"Cannot extract decoded_payload. Check the structure of the message.\");\n}\n",
        "outputs": 19,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 540,
        "wires": [
            [
                "2db2f8f4384601e4",
                "da25d2ba74c601c5"
            ],
            [
                "9f187c5840130cf0",
                "23f28d1e792baf86"
            ],
            [
                "1c944e9678248165",
                "eb6acc3350340305"
            ],
            [
                "464706dc1c24dc8a",
                "221773ea4bea6d22"
            ],
            [
                "b2ae46a666b0fcd9",
                "920facedff7821b9"
            ],
            [
                "9d2f8b55bd98f3f4",
                "bd12d3c050320d6c"
            ],
            [
                "1660d40ae6cd5c5d",
                "10e09c14f3c37026"
            ],
            [
                "76ec0d98a5cb3d33",
                "175bae91b9903a83"
            ],
            [
                "b3426e4df77146af",
                "887d3af3183a0f41"
            ],
            [
                "99ec73bd1fd753ab",
                "db03985552f88415"
            ],
            [
                "58730f5be3cdee7e",
                "498d384c530b0e27"
            ],
            [
                "fd31efd6c26fd321",
                "848ee9e52450a629"
            ],
            [
                "e3c144f1eecc4ec2",
                "926faf36c791ff35"
            ],
            [
                "5c04d1199385cd0b",
                "a0d32d557fa242c1"
            ],
            [
                "7767d7a283cd8168",
                "437e49d8b1cc6ec7"
            ],
            [
                "a0f136e237a4e8cf",
                "01c16ce7e3958d7f"
            ],
            [
                "b6ac343fe6dfcc1f",
                "78d0985354b8fe00"
            ],
            [
                "fe0c39d6a9f0a9fe",
                "dac034877924b68e"
            ],
            [
                "fdb954ef1d43b5c4",
                "31a7046c7e48b66f"
            ]
        ]
    },
    {
        "id": "1660d40ae6cd5c5d",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "coords",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 640,
        "wires": []
    },
    {
        "id": "da25d2ba74c601c5",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "sats",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 280,
        "wires": []
    },
    {
        "id": "23f28d1e792baf86",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "Temperature",
        "pin": "0",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 1190,
        "y": 340,
        "wires": []
    },
    {
        "id": "b2ae46a666b0fcd9",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "NO2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 520,
        "wires": []
    },
    {
        "id": "464706dc1c24dc8a",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "CO",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 460,
        "wires": []
    },
    {
        "id": "eb6acc3350340305",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "humd",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "920facedff7821b9",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "Nitrogen Dioxide",
        "pin": "5",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 1210,
        "y": 520,
        "wires": []
    },
    {
        "id": "221773ea4bea6d22",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "Carbon Monoxide",
        "pin": "4",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 1210,
        "y": 460,
        "wires": []
    },
    {
        "id": "1c944e9678248165",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "Humidity",
        "pin": "3",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 1180,
        "y": 400,
        "wires": []
    },
    {
        "id": "2db2f8f4384601e4",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "No. Satellites",
        "pin": "2",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 1200,
        "y": 280,
        "wires": []
    },
    {
        "id": "9f187c5840130cf0",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 340,
        "wires": []
    },
    {
        "id": "bd12d3c050320d6c",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "Bushfire Risk Alert",
        "pin": "7",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 1310,
        "y": 580,
        "wires": []
    },
    {
        "id": "9d2f8b55bd98f3f4",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "Occurence Alert",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 580,
        "wires": []
    },
    {
        "id": "10e09c14f3c37026",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "GPS",
        "pin": "1",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 1210,
        "y": 640,
        "wires": []
    },
    {
        "id": "b3426e4df77146af",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "percentActiveBushfire",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 760,
        "wires": []
    },
    {
        "id": "76ec0d98a5cb3d33",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "percentWeatherThreat",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 700,
        "wires": []
    },
    {
        "id": "99ec73bd1fd753ab",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "dust",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 820,
        "wires": []
    },
    {
        "id": "db03985552f88415",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "Dust",
        "pin": "10",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 1150,
        "y": 820,
        "wires": []
    },
    {
        "id": "887d3af3183a0f41",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "Active Bushfire",
        "pin": "12",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 1260,
        "y": 760,
        "wires": []
    },
    {
        "id": "175bae91b9903a83",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "Weather Threat",
        "pin": "11",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 1280,
        "y": 700,
        "wires": []
    },
    {
        "id": "fb6ce3de6f0a6340",
        "type": "comment",
        "z": "2f5827f3f231391e",
        "name": "Uplink from TTN to NodeRed to Blynk",
        "info": "",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "fd31efd6c26fd321",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "Changed Temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 940,
        "wires": []
    },
    {
        "id": "e3c144f1eecc4ec2",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "coord error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 740,
        "wires": []
    },
    {
        "id": "5c04d1199385cd0b",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "sats error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 800,
        "wires": []
    },
    {
        "id": "7767d7a283cd8168",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "temp error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 860,
        "wires": []
    },
    {
        "id": "a0f136e237a4e8cf",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "humd error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 920,
        "wires": []
    },
    {
        "id": "b6ac343fe6dfcc1f",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "CO error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 980,
        "wires": []
    },
    {
        "id": "fe0c39d6a9f0a9fe",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "NO2 error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1040,
        "wires": []
    },
    {
        "id": "fdb954ef1d43b5c4",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "dust error",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1100,
        "wires": []
    },
    {
        "id": "848ee9e52450a629",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "Changed Temperature",
        "pin": "13",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 1280,
        "y": 940,
        "wires": []
    },
    {
        "id": "926faf36c791ff35",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "Co-ords Error",
        "pin": "25",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 620,
        "y": 740,
        "wires": []
    },
    {
        "id": "31a7046c7e48b66f",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "Dust Error",
        "pin": "31",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 590,
        "y": 1100,
        "wires": []
    },
    {
        "id": "dac034877924b68e",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "NO2 Error",
        "pin": "30",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 590,
        "y": 1040,
        "wires": []
    },
    {
        "id": "78d0985354b8fe00",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "CO Error",
        "pin": "29",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 580,
        "y": 980,
        "wires": []
    },
    {
        "id": "01c16ce7e3958d7f",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "Humidity Error",
        "pin": "28",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 620,
        "y": 920,
        "wires": []
    },
    {
        "id": "437e49d8b1cc6ec7",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "Temperature Error",
        "pin": "27",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 630,
        "y": 860,
        "wires": []
    },
    {
        "id": "a0d32d557fa242c1",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "Satellite Error",
        "pin": "26",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 600,
        "y": 800,
        "wires": []
    },
    {
        "id": "498d384c530b0e27",
        "type": "debug",
        "z": "2f5827f3f231391e",
        "name": "Changed Humd",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 880,
        "wires": []
    },
    {
        "id": "58730f5be3cdee7e",
        "type": "blynk-iot-out-write",
        "z": "2f5827f3f231391e",
        "name": "Changed Humidity",
        "pin": "14",
        "pinmode": 0,
        "client": "70eec30c9d29c3a9",
        "x": 1270,
        "y": 880,
        "wires": []
    },
    {
        "id": "c630bf5d2cba4f4c",
        "type": "mqtt-broker",
        "name": "bushfirecits",
        "broker": "au1.cloud.thethings.network",
        "port": "8883",
        "tls": "702b3bd3b2834127",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "70eec30c9d29c3a9",
        "type": "blynk-iot-client",
        "name": "",
        "path": "blynk.cloud",
        "key": "BzsMl3OXiTojerYocTf5StCzSDqfqyff",
        "tmpl": "TMPL6RmFT-LSU",
        "dbg_all": false,
        "dbg_log": false,
        "dbg_prop": false,
        "dbg_sync": false,
        "dbg_low": false,
        "dbg_pins": "",
        "multi_cmd": false,
        "enabled": true
    },
    {
        "id": "702b3bd3b2834127",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    }
]




